@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #E6E6E6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for Firefox */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}
.overflow-x-auto::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge, and Safari */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #25476A; 
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.bshadow{
  box-shadow: 0 0 10px 1px #eee;
}